<section class="footer">

  <!-- Footer Text -->
  <div class="text-wrapper">
    <svg class="svg-google">
      <use href="#svg-rcpw-logo"></use>
    </svg>
    <p>
      Call us today for a <span>Free Estimate!</span>
    </p>
    <app-contact-info></app-contact-info>
  </div>

  <!-- Google Map -->
  <div class="google-map-wrapper">
    <!-- TODO: Place Google Map here -->
  </div>

  <!-- SVG Ad Icons -->
  <div class="svg-ad-icons">
    <a href="{{ googleBusinessURL }}">
      <svg class="svg-google">
        <use href="#svg-google"></use>
      </svg>
    </a>
    <a href="{{ facebookURL }}">
      <svg class="svg-facebook">
        <use href="#svg-facebook"></use>
      </svg>
    </a>
  </div>

  <!-- reCaptcha Disclaimer -->
  <div class="recaptcha-disclaimer">
    <span>
      This site is protected by reCAPTCHA and the Google
      <a href="https://policies.google.com/privacy">Privacy Policy</a> and
      <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </span>
  </div>

  <!-- Copyright -->
  <div class="copyright">© 2021 {{ businessName }}</div>

  <!-- Return To Top Button -->
  <div class="button-return-to-top">
    <button 
      aria-label="Return to top" 
      mat-fab 
      type="button" 
      (click)="onScrollToTop()">
      <i class="material-icons">north</i>
    </button>
  </div>

  <!-- Spacer -->
  <div class="spacer"></div>

</section>