@import '/src/app/shared/colors';

#contact-form-stepper-wrapper {
  background-color: #fff;
  border: 1px solid $quinary-color;
  border-radius: 0.35rem;
  color: $quinary-color;
  margin: none;
  padding-top: 1rem;
  & #contact-form-stepper-header {
    color: $quinary-color;
    font-weight: 600;
    text-align: center;
  }
  & h4 {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }
  & mat-horizontal-stepper {
    background-color: #fff;
    border-radius: 0 0 0.35rem 0.35rem;
    color: $quinary-color;
    font-size: 0.85rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    & .button-wrapper-step-1 {
      display: flex;
      justify-content: flex-end;
    }
    & .buttons-wrapper-step-2 {
      display: flex;
      justify-content: space-between;
      & #button-get-free-estimate {
        &.mat-button-disabled {
          border: 1px solid transparent;
        }
        &:not(.mat-button-disabled) {
          border: 1px solid $quinary-color;
          color: $quinary-color;
        }
      }
    }
    & mat-form-field {
      display: block;
    }
    & .services-error-wrapper {
      height: 12px;
      margin-bottom: 1rem;
      overflow: hidden;
      & .services-error {
        font-size: 85%;
        font-weight: 400;
        overflow: hidden;
        position: relative;
        text-align: center;
        top: -1rem;
        &.show-error {
          top: 0;
          transition: 0.15s ease-out;
        }
      }
    }
  }
}

form.hidden-form {
  display: none;
}

::ng-deep #contact-form-stepper {
  & .mat-horizontal-stepper-header-container {
    display: none;
  }
}
