@import '/src/app/shared/colors';

$button-transition: all 0.2s ease-in;
$logo-nav-height: 157.28px;
$logo-nav-width: 555px;
$mat-toolbar-transition: all 0.2s ease-in;
$rns-logo-transition: all 0.2s ease-in;
$svg-icon-dimensions: calc(1rem + 0.5vw);

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  & mat-toolbar {
    background-color: $quinary-color;
    color: white;
    display: flex;
    justify-content: flex-end;
    transition: $mat-toolbar-transition;
    & .nav-buttons {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      & button {
        border-bottom: 2px solid transparent;
        border-radius: 4px 4px 0 0;
        color: white;
        font-size: 0.85rem;
        transition: $button-transition;
        &.active-route {
          border-bottom: 2px solid $tertiary-color;
        }
        &:hover {
          border-bottom: 2px solid $tertiary-color;
          color: $tertiary-color;
          transition: $button-transition;
        }
      }
      & .phone-number-text {
        align-items: center;
        display: flex;
        font-size: 1rem;
        margin-right: 4vw;
        transition: $mat-toolbar-transition;
        & .svg-phone {
          fill: #fafafa;
          height: $svg-icon-dimensions;
          margin: 0 0.5rem;
          width: $svg-icon-dimensions;
        }
      }
    }
    & .hamburger-icon {
      background-color: $quinary-color;
      border: none;
      & .svg-hamburger {
        border: none;
        height: 1rem;
        stroke: #fafafa;
        stroke-width: 6px;
        padding: 0.5rem;
        width: 1rem;
        transition: $mat-toolbar-transition;
        &:hover {
          cursor: pointer;
          stroke: $tertiary-color;
          transition: $mat-toolbar-transition;
        }
      }
    }
    @media (max-width: 767.99px) {
      &.mat-toolbar-single-row {
        padding: 0;
      }
    }
    @media (min-width: 768px) {
      padding-right: 2rem;
      &.expanded {
        @include quinary-color-rgba-background(0.8);
        height: calc(64px + 1rem);
        transition: $mat-toolbar-transition;
        & .nav-buttons {
          & button { font-size: 1rem; }
          & .phone-number-text { font-size: 1.25rem; }
        }
      }
    }
  }
  & .rcpw-logo {
    padding-left: 1rem;
    position: absolute;
    top: 0.5rem;
    transition: $rns-logo-transition;
    @media (max-width: 767.98px) {
      height: calc(#{$logo-nav-height} * 0.5 * 0.55);
      width: calc(#{$logo-nav-width} * 0.5 * 0.55);
    }
    @media (min-width: 768px) {
      height: calc(#{$logo-nav-height} * 0.5 * 0.75);
      width: calc(#{$logo-nav-width} * 0.5 * 0.75);
      &.expanded {
        height: calc(#{$logo-nav-height} * 0.5 * 0.9);
        transition: $rns-logo-transition;
        width: calc(#{$logo-nav-width} * 0.5 * 0.9);
      }
    }
  }

  & .svg-hamburger {
    border: none;
    height: 1rem;
    stroke: #fafafa;
    stroke-width: 6px;
    padding: 0.5rem;
    width: 1rem;
    transition: $mat-toolbar-transition;
    &:hover {
      cursor: pointer;
      stroke: $tertiary-color;
      transition: $mat-toolbar-transition;
    }
  }
}
