<nav>

  <!-- Logo -->
  <svg [ngClass]="{
    'expanded': pageOffset.pageYOffset === 0,
    'rcpw-logo': true
  }">
    <use href="#svg-rcpw-logo-nav"></use>
  </svg>

  <!-- Nav Toolbar -->
  <mat-toolbar [ngClass]="{ 'expanded': pageOffset.pageYOffset === 0 }">
    <div class="nav-buttons" *ngIf="windowSize.width >= 768px">

      <!-- Phone Number Text -->
      <span class="phone-number-text" *ngIf="windowSize.width >= 870px">
        <svg class="svg-phone">
          <use href="#svg-phone"></use>
        </svg>
        {{ phoneNumber }}
      </span>

      <!-- Nav Buttons -->
      <ng-container *ngFor="let navLink of navLinks">
        <button 
          mat-button 
          type="button" 
          routerLinkActive="active-route" 
          routerLink="{{ navLink.routerLink }}" 
          [routerLinkActiveOptions]="navLink.name === 'Home' ? { exact: true } : { exact: false }">
          {{ navLink.name }}
        </button>
      </ng-container>
    </div>

    <!-- Hamburger Icon -->
    <button 
      class="hamburger-icon" 
      tabindex="0"
      type="button"
      (click)="onHamburgerClick()" 
      *ngIf="windowSize.width < 768px">
      <svg class="svg-hamburger">
        <use href="#svg-hamburger"></use>
      </svg>
    </button>
  </mat-toolbar>
</nav>
