<div class="service-cards-wrapper">
  
  <!-- Exterior House Washing -->
  <mat-card routerLink="/services/exterior-house-washing">
    <mat-card-content>
      <div class="card-background-exterior-house-washing show-image"></div>
    </mat-card-content>
    <mat-card-actions>
      <h2>Exterior House Washing</h2>
      <div class="learn-more-wrapper">
        Learn More
        <svg class="svg-right-arrow">
          <use href="#svg-right-arrow"></use>
        </svg>
      </div>
    </mat-card-actions>
  </mat-card>

  <!-- Concrete & Brick Washing -->
  <mat-card routerLink="/services/concrete-and-brick-washing">
    <mat-card-content>
      <div class="card-background-concrete-and-brick-washing show-image"></div>
    </mat-card-content>
    <mat-card-actions>
      <h2>Concrete & Brick Washing</h2>
      <div class="learn-more-wrapper">
        Learn More
        <svg class="svg-right-arrow">
          <use href="#svg-right-arrow"></use>
        </svg>
      </div>
    </mat-card-actions>
  </mat-card>

  <!-- Deck & Patio Washing -->
  <mat-card routerLink="/services/deck-and-patio-washing">
    <mat-card-content>
      <div class="card-background-deck-and-patio-washing show-image"></div>
    </mat-card-content>
    <mat-card-actions>
      <h2>Deck & Patio Washing</h2>
      <div class="learn-more-wrapper">
        Learn More
        <svg class="svg-right-arrow">
          <use href="#svg-right-arrow"></use>
        </svg>
      </div>
    </mat-card-actions>
  </mat-card>

  <div>test</div>

  <!-- Deck Sealing & Staining -->
  <mat-card routerLink="/services/deck-sealing-and-staining">
    <mat-card-content>
      <div class="card-background-deck-sealing-and-staining show-image"></div>
    </mat-card-content>
    <mat-card-actions>
      <h2>Deck Sealing & Staining</h2>
      <div class="learn-more-wrapper">
        Learn More
        <svg class="svg-right-arrow">
          <use href="#svg-right-arrow"></use>
        </svg>
      </div>
    </mat-card-actions>
  </mat-card>

    <!-- Fence Cleaning -->
    <mat-card routerLink="/services/fence-cleaning">
      <mat-card-content>
        <div class="card-background-fence-cleaning show-image"></div>
      </mat-card-content>
      <mat-card-actions>
        <h2>Fence Cleaning</h2>
        <div class="learn-more-wrapper">
          Learn More
          <svg class="svg-right-arrow">
            <use href="#svg-right-arrow"></use>
          </svg>
        </div>
      </mat-card-actions>
    </mat-card>  
  
</div>